@media screen and (max-width:979px) and (min-width:450px){


@charset "utf-8";
/* CSS Document */

h1 h2 h3 h4 h5 h6{
	margin:0;
	padding:0;
}

body{
	width:100%;
	text-align:center !important;
	background-image:none;
	font-family:"メイリオ", Meiryo, sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	margin:0 !important;

}

#wrapper{
    width:100%;
	height:100%;
	background:rgba(255,255,255,1);
    margin:0 auto;
    overflow: hidden;
}

/*--ヘッダー--*/

#header{
	width:100%;
	padding:0 0 1% 5%;
}

#header .logo{
	width:45%;
	margin:8% auto 0;
	float: left;
	text-align:left;
}

#header .logo img{
width:80%;

}

#header a{
	width:100%;
}

#header h1{
	display:none;
}

#header p{
	float: right;
	font-size:100%;
	margin-right:8%;
	margin-top:3%;
	font-family:"メイリオ", Meiryo, sans-serif;
	text-align:left;
	line-height:1.2em;
	color:#fff;
	background-color:#4496d3;
	padding:3%;
	border-radius: 0.5em;

}



/*--ファーストビューイメージ--*/
#first_view{
	width:100%;
	height:100%;
	margin-bottom:2%;
	position:relative;
	overflow: hidden;
	zoom:1;
}

#first_view img{
	width:100%;
}

#first_view .title img{
	width:45%;
}


#first_view p{
	width:100%;
	height:auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin: auto;
}



/*--アクションバー--*/
#purchase{
	width:100%;
	height:30%;
	margin-bottom:2%;
}

.purchase_btn a{
	text-decoration:none;
	color:#FFF;
}




.purchase_btn{
	width:100%;
	font-size:130%;
	border-radius:6px;
	outline:0;
	padding:12px;
	margin:0 auto;
	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5);
	border:none;
	box-shadow:inset 0 -1px 1px rgba(0, 0, 0, 0.9), inset 0 1px 0 rgba(255, 255, 255, 0.4);
	font-family:"HGMaruGothicMPRO","メイリオ", Meiryo, sans-serif;
	background:-webkit-linear-gradient(#5fe76d, #19b328);
	background:-moz-linear-gradient(#5fe76d, #19b328);
	background:-ms-linear-gradient(#5fe76d, #19b328);
	background:linear-gradient(#5fe76d, #19b328);
	-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.5), inset 1px 1px 1px rgba(255,255,255,0.5);
	box-shadow:1px 1px 1px rgba(0,0,0,0.5), inset 1px 1px 1px rgba(255,255,255,0.5);
}



.purchase_btn:hover{
	opacity:1;
	-webkit-animation:flash 1.5s;
	animation:flash 1.5s;
}

@-webkit-keyframes flash{
	0% {
		opacity:.4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash{
	0% {
		opacity:.4;
	}
	100% {
		opacity:1;
	}
}

/*--メインコンテンツ--*/
#contents{
	width:100%;
}

/*--黒砂糖ってどういうもの？--*/
#first_content{
	display:block;
	width:100%;
	height:auto;
	margin:0 auto;
	padding-top:5%;
}

#first_content .kurozatou_ex{
	width:100%;
	height:auto;
	margin:0 auto;
}

#first_content .kurozatou_ex h2{
	width:100%;
	color:#0070BD;
	font-family:"HGMaruGothicMPRO","メイリオ", Meiryo, sans-serif;
	font-size:160%;
	font-weight:bold;
	text-align:center;
	margin:0 auto;
	padding:1% 0;
}


#first_content .kurozatou_ex p{
	width:90%;
	height:auto;
	color:#665835;
	font-family:"メイリオ", Meiryo, sans-serif;
	font-size:110%;
	font-weight:bold;
	text-align:left;
	margin:2% auto;
}

#first_content .ingredient{
	width:90%;
	height:auto;
	margin: 0 auto;
}


#first_content .ingredient .box{
	width:100%;
	margin:0 auto;
}

#first_content .ingredient h3{
	display:block;
	width:100%;
	height:auto;
	color:#665835;
	font-family:"メイリオ", Meiryo, sans-serif;
	font-size:130%;
	font-weight:bold;
	text-align:left;
	margin:0;
}

#first_content .ingredient p{
	font-family:"メイリオ", Meiryo, sans-serif;
	font-size:100%;
	text-align:left;
}

#first_content .ingredient img{
	width:50%;
	margin: 0 auto;
}

#first_content .taste{
	width:90%;
	height:auto;
	margin: 0 auto;
}

#first_content .taste .box{
	width:100%;
	margin: 0 auto;
}

#first_content .taste h4{
	display:block;
	width:100%;
	height:auto;
	color:#665835;
	font-family:"メイリオ", Meiryo, sans-serif;
	font-size:130%;
	font-weight:bold;
	text-align:left;
	margin:0;
}

#first_content .taste p{
	font-family:"メイリオ", Meiryo, sans-serif;
	font-size:100%;
	text-align:left;
}

#first_content .taste img{
	width:50%;
}

/*--黒砂糖と白砂糖って違うの？--*/
#second_content{
	display:block;
	width:100%;
	height:auto;
	margin:0 auto;
}

#second_content .difference{
	width:100%;
	margin:0 auto;
}

#second_content .difference h2{
	width: 90%;
    color: #0070BD;
    font-family: "HGMaruGothicMPRO","メイリオ", Meiryo, sans-serif;
    font-size:160%;
    font-weight: bold;
    text-align: center;
    margin:15% auto 0;
	padding:1% 0;
}



.difference p{
	width:90%;
	height: auto;
	color:#665835;
	font-family:"メイリオ", Meiryo, sans-serif;
	font-size:120%;
	font-weight:bold;
	text-align:left;
	margin:2% auto;
}



.point{
	margin:0 auto;
	background-color:#ccc;
	background-repeat: no-repeat;
	background-position:left 30px;
	height:400px;
	width:750px;
}

#imp{
	width: 100%;
    margin: 0% auto 8% auto;
    background-image: url(../images/umi.jpg);
    background-size: cover;
    background-repeat: repeat-repeat-y;
    background-size: cover;
    box-shadow: inset 0px 1px 18px 0px #ffffff;
    overflow: hidden;
    margin: 5% 0;

}

.order1{
	width: 30%;
    float: right;
    padding-left: 1%;
    margin-top: 7%;
    margin-right: 12%;
}
.order2{
	width: 42%;
    float: right;
    padding-left: 0%;
    margin-top: 20%;
    margin-right: -57%;
}

#imp .back1{
	padding: 0 1%;
    padding: 1.5% 1% 1.5% 1%;
    font-size: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    color: #202020;
    width: 50%;
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 1px 7px rgba(212, 162, 21, 0.46) inset;
    margin: 7% 21% 3% 5%;
    text-align: left;
}



#imp .back1:before{
    border: 1px solid #fff;
    border-radius: 5px;
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 4px;
    z-index: -1;
}


#imp .back2{
	padding: 0 1%;
    padding: 1.5% 1% 1.5% 1%;
    font-size: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    color: #202020;
    width: 50%;
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 1px 7px rgba(21, 212, 27, 0.35) inset;
    margin: 3% 21% 3% 5%;
    text-align: left;

}


#imp .back2:before{
    border: 1px solid #fff;
    border-radius: 5px;
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 4px;
    z-index: -1;
}


#imp .back3{
	padding: 1.5% 1% 1.5% 1%;
    font-size: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    color: #202020;
    width: 50%;
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 1px 7px rgba(212, 21, 188, 0.29) inset;
	  margin: 4% 5% 6%;
		text-align: left;
}



#imp .back3:before{
    border: 1px solid #fff;
    border-radius: 5px;
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 4px;
    z-index: -1;
}







/*--奄美徳之島産「黒砂糖」--*/

.triangle{
	width:80%;
	margin:0 auto;
}


#third_content{
	width:90%;
	height:100%;
	margin:3% auto 10%;

}



#third_content .osusume{
	width:100%;
}

#third_content .osusume a{
    text-decoration: none;
}

#third_content .osusume h2{
	color:#F36;
	font-family:"HGMaruGothicMPRO","メイリオ", Meiryo, sans-serif;
	font-size:150%;
	font-weight:bold;
	text-align:center;
}

#third_content .osusume img{
	width:60%;
	display:block;
	text-align:center;
	margin:0 auto;
	border-style:none;
}

#third_content .osusume_ex{
	width:100%;
	height:auto;
	margin: auto;


}

.repeat {
	width:80%;
	color:#665835;
	font-family:"メイリオ", Meiryo, sans-serif;
	font-size:130%;
	font-weight:bold;
	text-align:left;
	padding-top:1%;
	margin:0 auto;
}

.osusume_ex h4{
	text-align:center;
}

#third_content .osusume_ex p{
	font-family:"メイリオ", Meiryo, sans-serif;
	font-size:100%;
	text-align:left;
}


.purchase_btn{
	width:80%;
	clear:both;
	margin-top:3%;
	margin-bottom:5%;
	height:auto;
	display:block;
}



/*--奄美大島のお土産店とは--*/
#fourth_content{
	display:block;
	width:100%;
	height:auto;
	margin:0 auto;
}

#fourth_content .shop h4{
	width:100%;
	color:#0070BD;
	font-family:"HGMaruGothicMPRO","メイリオ", Meiryo, sans-serif;
	font-size:180%;
	font-weight:bold;
	margin:0 auto;
	text-align:center;
}

#fourth_content .shop {
	width:80%;
	font-family:"メイリオ", Meiryo, sans-serif;
	font-size:100%;
	text-align:left;
	margin:0 auto 6%;
}

/*--こんな商品も扱っています--*/
#fifth_content{
	display:block;
	width:100%;
	height:auto;
	margin:0 auto;
	padding:0.5% 0;
}

#fifth_content h4{
	color:#666;
	font-family:"メイリオ", Meiryo, sans-serif;
	font-size:180%;
	font-weight:bold;
	color:#665835;
	text-align:center;
	margin:0;
}

#fifth_content .items table{
	width:90%;
	height:auto;
	margin:0 auto;
	table-layout:fixed;
	border-spacing:15px;
}

#fifth_content .items tr{
}

#fifth_content .items td{
	width:auto;
	height:340px;
	border:1px solid #999;
}

#fifth_content .items td img{
	display:block;
	width:80%;
	height:auto;
	margin:0 auto;
}

#fifth_content .items td p{
	display:block;
	width:80%;
	height:auto;
	font-family:"游明朝", YuMincho, "Hiragino Mincho ProN","メイリオ", Meiryo, sans-serif;
	font-size:100%;
	font-weight:bold;
	line-height:1.7em;
	margin:0 auto;
	text-align:center;
	border-bottom:1px solid #333;
	padding:2% 0;
}

#fifth_content .items a{
	text-decoration:none;
}
/*--こんなかたはぜひ一度、黒砂糖をお試しください--*/
#sixth_content{
	display:block;
	width:100%;
	height:60%;
	margin:0 auto;
	clear:both;
}


.otameshi {
	width:90%;
	color:#0070BD;
	font-family:"HGMaruGothicMPRO","メイリオ", Meiryo, sans-serif;
	font-size:180%;
	font-weight:bold;
	text-align:center;
	margin:6% auto 0;
	padding:2% 0;
}


#sixth_content ul{
	width:80%;
}

#sixth_content li{
	display:block;
	width:100%;
	font-size:120%;
	text-align:left;
	border-bottom:1px #666 solid;
	padding:5% 0 3% 3%;
	}

#sixth_content img{
	display:none;
}




/*--お客様からの喜びの声--*/
#seventh_content{
	overflow:hidden;
	display:block;
	width:90%;
	height:auto;
	margin:0 auto;
	padding:3% 0;
}

#seventh_content h4{
	width:100%;
	color:#0070BD;
	font-family:"HGMaruGothicMPRO","メイリオ", Meiryo, sans-serif;
	font-size:180%;
	font-weight:bold;
	text-align:center;
	margin:7% auto 1%;
}

#seventh_content table{
	width:100%;
	height:auto;
	margin:0 auto;
	padding:2%;
	table-layout:fixed;
	border-spacing:12px 30px;
	display:block;
}

#seventh_content tr{
	display:-webkit-box;
	display:flex;
	justify-content: space-between;
    flex-wrap: wrap;
    align-content:flex-start;
}

#seventh_content td{
	width:48%;
	height:auto;
	padding:2% 0;
	background-color:#fffacd;
	margin:1%;

}

#seventh_content td .item_name{
	max-width:100%;
	height:auto;
	margin:0 auto;
}

#seventh_content td .item_name p{
	font-size:90%;
	font-weight:bold;
	font-family:"メイリオ", Meiryo, sans-serif;
	color:#665835;
	text-align:justify;
	text-justify: inter-ideograph;
	margin:0 auto;
	padding:10px 10px 15px 10px;
}


#seventh_content td .review{
	width: 100%;
	margin:5% auto;
}

#seventh_content td .review p{
	font-size:90%;
	height:auto;
	margin:5%;
	font-family:"メイリオ", Meiryo, sans-serif;
	text-align:left;

}

#seventh_content td .star{
	width:90%;
	height:auto;
	margin:0 auto;
}

#seventh_content td .star p{
	width:90%;
	font-size:100%;
	font-weight:bold;
	font-family:"HGMaruGothicMPRO","メイリオ", Meiryo, sans-serif;
	text-align:center;
	margin:0 auto;
	padding-top:15px;
}

/*--破線--*/
hr.dashed_line{
	width:90%;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
	margin:0 auto;
	overflow:hidden;
}

/*--下向き三角形--*/
.triangle {
	width:90%;
	height:auto;
	text-align:center;
}

.triangle p{
	font-size:100%;
	font-weight:bold;
	font-family:"メイリオ", Meiryo, sans-serif;
	text-align:center;
	margin:0 auto;
	color:#665835;
}
.no1 {
	font-size:130%;
	font-weight:bold;
	font-family:"メイリオ", Meiryo, sans-serif;
	text-align:center;
	margin:0 auto;
	color:#665835;
}

.triangle img{
	padding-top:15px;
}

/*--「奄美の最高の味」をお届けします！！--*/
#last_content{
	display:block;
	width:100%;
	height:auto;
	margin-bottom:5%;
}
#last_content {
	color:#665835;
	font-family:"メイリオ", Meiryo, sans-serif;
	font-size:100%;
	font-weight:normal;
	text-align:center;
}

#last_content h4{
	color:#665835;
	font-family:"メイリオ", Meiryo, sans-serif;
	font-size:150%;
	font-weight:bold;
	text-align:center;
}




#last_content .inquiries{
	padding-top:70px;
}

#last_content .inquiries img{
	width:80%;
	padding-bottom:30px;
}

.top{
	font-size:100%;
	text-align:right;
	margin-right:8%;
}

/*--フッター--*/
footer {
	width:100%;
	height:auto;
    text-align:center;
	padding-top:5%;
}

footer small {
    font-size:100%;
	font-weight:bold;
	color:#666;
}
footer h5{
	margin:0;
	padding:0;
	padding-top:1%;
	padding-bottom:5%;
    font-size:100%;
	font-weight:bold;
	color:#000;
}


}
